[submodule "plugins/piechart-panel"]
	path = plugins/piechart-panel
	url = https://github.com/grafana/piechart-panel
[submodule "plugins/worldmap-panel"]
	path = plugins/worldmap-panel
	url = https://github.com/grafana/worldmap-panel.git
[submodule "plugins/clock-panel"]
	path = plugins/clock-panel
	url = https://github.com/grafana/clock-panel.git
[submodule "plugins/heatmap-epoch-panel"]
	path = plugins/heatmap-epoch-panel
	url = https://github.com/mtanda/grafana-heatmap-epoch-panel.git
